* {
  margin: 0px;
  padding: 0px;
}

.navbar {
  padding-left: 10px;
  width: 100%;
  background-color: rgb(32, 31, 41);
  min-height: 70px;
  color: white;
}

.navbar h1 {
  padding: 10px;
  font-size: 40px;
}

.nav-links li {
  font-size: 20px;
  padding-left: 10px;
  display: inline;
  list-style: none;
}

.main {
  width: 80%;
  margin: auto;
  padding: 10px;
}

.flex-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  border: 1px solid black;
  text-align: center;
  min-width: 300px;
  background-color: gray;
  padding: 5px 10px;
  margin: auto;
}

.card h3 {
  color: white;
  padding: 5px;
}

.card p {
  padding: 5px;
  text-align: start;
}

.add-form {
  background-color: darkgray;
  margin: auto;
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
}

.add-form input {
  padding: 5px;
  margin: 5px;
}
